*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color: #8f8f8f;
}
/* .border{
    border: 1px solid red ;
} */

.main-form{
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 100%;
    height: auto;
}
.header{
    background-color: #40608e;
    padding: 10px;
}
.header h1, .header p{
    text-align: center;
    color: white;
    font-weight: 400px;
}
.header h1{
    font-size: 3em;
}
.header p{
    font-size: 1.2em;
}
.star{
    color: red;
}
.field{
    display: flex;
    padding: 2%;
}
.left{
    float: right;
    width: 40%;  
}
.left label{
    font-size: 20px;
}
.right, .right-address{
    float: left;
    width: 60%;
    display: block;
}
/* {
    margin-left: 6em;
} */

.company-address{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.company-address, .address-top{
    width: 100%;
}
.address-top input,.address-bottom{
    display: flex;
}
.override-div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.override-div i{
    background-color: #F5F5F5;
    border-radius: 50%;
    padding: 14px;
    margin-top: -12px;
}
.right-logo{
    position: relative;
    z-index: 9;
    width: 60%;
    height: 3.2em;
    border: 1px dotted;
}
.right-logo p{
    color:black;
    align-items: center;
    padding: 5px;
}
#select-file{
    position: absolute;
    left: 20px;
    background-color:red;
    padding: 4px 60px;
    opacity: 0;
}
.btn{
    text-align: center;
}
#submit{
    background-color: rgb(19, 142, 219);
    color: white;
    padding: 5px 14px; 
    font-size: 16px;
}
.right input[type=text],.right input[type=url],.right input[type=date],select,textarea{
    width: 75%;
    padding: 6px;
}

.company-address div input[type=text], .company-address p select{
    padding: 6px;
}
.right-address input, .right-address select{
    width: 94%;
    padding: 6px;
    gap: 2%;
}
.right-address span{
    font-size: 12px;
    color: #8f8f8f;
}
/* .right input[type=date]{
    opacity: 0;
} */
.right i{
    position: absolute;
    left: 61%;
}
.date{
    font-size: 14px;
}
.right p{
    color: red;
    display: none;
}
@media screen and (max-width:600px) {
        .field,.address-bottom{
            flex-direction: column;
        }
        .left input, .right input, .right-address{
            margin-top: 0.5em;
        }
        .left,.right, .right-address{    
            width: 100%;
        }
        .address-bottom input, .address-bottom select{
            width: 100%;
        }
        /* .left, .right{
            width: 100%;
        } */
        .field input[type=text],.field input[type=url], .field select,textarea, .right-logo{
            width: 90%;
        }
        .right input[type=text],select,textarea{
            margin-top: 2%;
        }           
        .company-address{
            display: block;
        }
        
        
}